.centered_hor {
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
    padding: 0px;
} 

#ai {
    text-align:center;
    width:100%;
    font-size: 180%;
    background-color: #ddd;
    border: 0px;
    margin-top: 20px;
}

#ai:focus{

}

.start_hidden {
    display:none;
}

.checkbox-inline + .checkbox-inline {
    margin-left:0px;
}

.toggle_container {
    display: inline-block;
    margin: 10px;
}
