.centered_hor {
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
    padding: 0px;
} 

.start_hidden {
    display:none;
}

.checkbox-inline + .checkbox-inline {
    margin-left:0px;
}
