<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>NEOPIXELS</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap2-toggle.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id="header" class="jumbotron text-center">
            <h1>Neopixels</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor start_hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">Lights</div>
                        <div class="panel-body" id="range_switches">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor start_hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">Effect</div>
                        <div class="panel-body">
                            <select id="effect_selector"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor start_hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">Color</div>
                        <div class="panel-body">
                            <input type="text" class="form-control colorpicker-element" id="color_input" data-format="hex" value="white"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor start_hidden">
                    <div class="panel panel-default">
                        <div class="panel-heading">Speed</div>
                        <div class="panel-body">
                            <input id="speed_input" type="text" data-slider-value=50 date-slider-min=0 data-slider-max=100></input>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 centered_hor">
                    <button type="button" class="btn btn-success start_hidden" id="send">go</button>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <p id="result"></p>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap2-toggle.min.js') }}"></script>
        <script>
            COLOR = 1;
            SPEED = 2;
            $(document).ready(function(){
                effectSelector = $("#effect_selector");
                speedInput = $("#speed_input");
                speedInput.slider();
                //colorSelector = $("#color_selector");
                colorInput = $("#color_input");
                sendButton = $("#send");
                ranges = [];

                $.get("/get_ranges.json", function(result) {
                    $.each(result.sections, function() {
                        var name = this;
                        $range_input = $("<input type='checkbox' data-toggle='toggle' data-off='" + name + "' data-on='" + name + "' data-width='72' data-height='32'>");
                        $range_input.change(function(){
                            if($(this).prop("checked")) {
                                ranges.push(name);
                            }else {
                                ranges.splice(ranges.indexOf(name), 1);
                            }
                        });
                        $switch_container = $("<div class='toggle_container'></div>");
                        $range_input.appendTo($switch_container);
                        $switch_container.appendTo("#range_switches");
                        $range_input.bootstrapToggle();
                        $("#range_switches").closest(".col-sm-4").fadeIn();
                    });
                });

                $.get("/has_ai", function(result) {
                    if(result=="true"){
                        $("<input type='text' placeholder='What do you want me to do for you?' class='ai-input start_hidden' id='ai'/>").appendTo("#header");
                        aiInput = $("#ai");
                        $("#header").css("padding-bottom", "0px");
                        aiInput.fadeIn();
                        aiInput.focus();
                        aiInput.keypress(function(e){
                            if(e.which == 13){
                                $.post({
                                    url: '/ai_request',
                                    data: aiInput.val(),
                                    dataType: 'text'
                                }).done(function(data) {
                                    //TODO do something with data.ret
                                });
                                aiInput.val("");
                            }
                        });
                    }
                
                });

                //Populate the effect dropdown
                $.getJSON("/get_effects.json", function(result) {
                    $.each(result.effects, function() {
                        effectSelector.append($("<option />").val(this.modifiers).text(this.name));
                    });
                    effectSelector.closest(".col-sm-4").fadeIn();
                    sendButton.fadeIn();
                    //Update options for initially selected effect
                    effectSelector.trigger("change");
                });

                function componentToHex(c) {
                    var hex = c.toString(16);
                    return hex.length == 1 ? "0" + hex : hex;
                }

                function rgbToHex(rgb) {
                    return "#" + componentToHex(rgb[0]) + componentToHex(rgb[1]) + componentToHex(rgb[2]);
                }

                //Populate the color selector
                $.getJSON("/get_colors.json", function(result) {
                    var colors = {};
                    $.each(result.colors, function() {
                        colors[this.name] = rgbToHex(this.color);
                    });
                    colorInput.colorpicker({colorSelectors : colors,
                                            template: '<div class="colorpicker dropdown-menu">' +
                                              '<div class="colorpicker-saturation"><i><b></b></i></div>' +
                                              '<div class="colorpicker-hue"><i></i></div>' +
                                              '<div class="colorpicker-alpha"><i></i></div>' +
                                              '<div class="colorpicker-color"><div /></div>' +
                                              //'<div class="colorpicker-selectors"></div>' +
                                              '</div>',});
                });

                //When a different effect is chosen, hide/show appropriate options
                effectSelector.change(function() {
                    if(effectSelector.val() & COLOR){
                        colorInput.closest(".col-sm-4").fadeIn();
                    } else {
                        colorInput.closest(".col-sm-4").fadeOut();
                    }

                    if(effectSelector.val() & SPEED) {
                        speedInput.closest(".col-sm-4").fadeIn();
                        speedInput.slider('relayout');
                    } else {
                        speedInput.closest(".col-sm-4").fadeOut();
                    }
                });
                
                function getSelectedColor(){
                    var rgba = colorInput.data('colorpicker').color.toRGB();
                    return [rgba['r'], rgba['g'], rgba['b']];
                }

                //Send the command
                sendButton.click(function(){
                    if(ranges.length == 0){
                        var command = {
                            effect: "off",
                            args: {}
                        }
                    }
                    else {
                        rgb = getSelectedColor();
                        var args = {};
                        args["ranges"] = ranges;
                        if(effectSelector.val() & COLOR)
                            args["color"] = rgb;
                        if(effectSelector.val() & SPEED)
                            args["speed"] = parseInt(speedInput.slider("getValue"));

                        var command = {
                            effect : effectSelector.children("option").filter(":selected").text(),
                            args : args
                        };
                    }
                    $.post({
                        url: '/command',
                        data: JSON.stringify(command),
                        contentType: "application/json",
                        dataType: 'json'
                    }).done(function(data) {
                        $("#result").html(data.ret)
                    });
                });

            });
        </script>
    </body>
</html>

